body{
    font-family: sans-serif;
    padding:0;
    margin:0;
}

.header-ul,.job-icons-row,.jobs-text-row,.jobs-desc-row,.service-icons-row,.service-heading-icon-row,.service-para-icon-row,.input-fields-column,.input-text-column{
    display:flex;
}

.header-ul,.job-icons-row,.jobs-text-row,.jobs-desc-row,.service-icons-row,.service-heading-icon-row,.service-para-icon-row{
    flex-direction:row;
}

.input-fields-column,.input-text-column{
    flex-direction: column;
}

.header{
    border:px solid black;
    box-shadow: 12px 12px 12px 12px;
    clip-path:polygon(0% 0%,0% 100%,380% 0% ,100% 0%);
    background: linear-gradient(rgb(216 218 220),rgb(27 131 183));
    height:70vh;
}

.header-ul{
    padding-top:17px;
    justify-content: space-around;
}

.header-li{
    list-style: none;
}

.header-links{
    text-decoration:none;
    color:black;
    font-size:18px;
    padding:10px;
    color:white;
    background: linear-gradient(rgb(166 218 220),rgb(27 131 183));
}

.header-links:hover{
    background:linear-gradient(rgb(166 218 280),rgb(27 131 183));;
    transition: .3s;
}

.header-heading{
    color:white;
    padding:10px 0px 0px 40px;
    font-size:40px;
}

.header-para{
    color:white;
    padding: 13px;
}

.header-icon{
    padding-left:30px;
    color:white;
    font-size:100px;
}

.job-section{
    background: linear-gradient(rgb(247 247 247),rgb(16 193 233));
    height:100vh;
    clip-path:polygon(0% 0%,0% 100%,100% 0% ,100% 0%,100% 0%);
}

.job-icons-row{
    padding-top:30px;
    justify-content: space-around;
    margin-left:80px;
}

.job-icons{
    padding:8px;
    color:white;
    background:linear-gradient(rgb(227 247 247),rgb(16 153 233));
    margin-left:0px;
    font-size:58px;
}

.jobs-text-row{
    margin-left:80px;
    color:white;
    justify-content: space-around;
    font-family: lato;
}

.jobs-desc-row{
    justify-content: space-around;

}

.jobs-desc{
    padding:10px;
    margin-left: 60px;
    line-height: 25px;
    border:1px solid none;
    background:linear-gradient(rgb(257 247 247),rgb(16 153 233));
    color:black;

}

.jobs-text-row{
    justify-content: center;
    justify-content: space-around;
}


.service-section{
    background-image:linear-gradient(rgb(267 247 247 / 50%),rgb(16 153 233 / 60%)),url(images/pexels-fauxels-3184306.jpg); 
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    height:45vh;


}

.section-heading{
    text-align: center;
    color:white;   
}

.service-icons-row{
    justify-content: space-around;
}

.service-icons{
    padding:5px 13px 5px 13px;
    background:linear-gradient(rgb(227 247 247),rgb(16 153 233));
    color:white;
    font-size:50px;
}

.service-heading-icon-row{
    justify-content: space-around;
    color:white;
}

.service-para-icon-row{
    color:white;
    justify-content: space-around;
}

.apply-section{
    background: linear-gradient(rgb(177 207 207),rgb(6 136 174));
    height:150vh;
    box-shadow: 12px 12px 72px 12px black;

}

.apply-heading{
    color:white;
    padding-left:28px; 
    font-size:18px;
}

.apply-line{
    width:400px;
    height:1px;
    background: white;
}

.input-fields-column{
    padding-left: 120px;
    justify-content: space-around;
}

.input-text-column{
    align-content: center;
    justify-content: space-around;
    margin-top:-225px;
    margin-left:30px;
    color:white;
}

.input-text{
    font-family: lato;
}

.input-fields{
    outline:none;
    background: transparent;
    border-bottom:3px solid white;
    border-top:1px solid transparent;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    position: relative;
    left:47px;
    top:60px;
    width:24%;
    height:30px;
}

.input-fields::placeholder{
    color:white;
}

.apply-button{
    font-family: lato;
    text-decoration: none;
    color:white;
    margin-left: 40px;
    border:1px solid transparent;
    padding:10px 15px 10px 15px;
    background: linear-gradient(rgb(177 247 247),rgb(16 193 233));
}

.apply-button:hover{
    cursor: pointer;
    background:white;
    color:black;
    transition: .5s;
}

.apply-button:active{
    color:black;
    background: lightgray;
}

